# Devenv
.devenv*
devenv.local.nix

# Use this for your local environment.
.envrc.private

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# executable
nix-versions
result

# go
vendor
nix-versions
REVISION

.nix-versions
foo
chale
