.vp-feature {
  text-wrap: balance;
}

.ansi-to-html {
  background-color: rgb(59, 32, 85);
  color: #f1eff8;
  padding: 15px;
  border-radius: 5px;
  font-family: var(--vp-font-mono);
  font-size: var(--code-font-size);
  overflow-x: scroll;
}
