---

import Default from '@astrojs/starlight/components/SocialIcons.astro';

---

<a href="https://github.com/vic/nix-versions/releases"><img src="https://img.shields.io/github/v/release/vic/nix-versions?logo=github&color=white"/></a>

<a href="https://deepwiki.com/vic/nix-versions"><img src="https://deepwiki.com/badge.svg" alt="Ask DeepWiki"></a>

<a href="https://dendritic.oeiuwq.com/sponsor"><img src="https://img.shields.io/badge/Sponsor-@vic-white?logo=githubsponsors&logoColor=white" alt="Sponsor Vic"/>
</a>

<Default />
